/* Leftfield aesthetic customisations. */
/* configure header and sidebar navbar */
/* TODO: this applies to both sidebar and header. things (e.g. font-size) will get confused esp without custom var support. */
.bd-header .navbar-nav {
    /* section link font size */
    font-size: 1.5rem;
    /* space between right-aligned section links and icon links / components */
    margin-right: 1rem;
    /* space between logo and left-aligned section links, also between light/dark button & icon links  */
    margin-left: 0rem;
    /*gap: 0.5rem;*/
    /* spacing between section titles */
    padding: 0rem;
}

/* limit logo height for older safari and ie browsers - adapted from numpy docs  */
.navbar-brand img {
    height: 4.6rem;
    width: auto;
}

/*.navbar-brand {
    height: 4.6rem;
}*/

/* footer font size */
.bd-footer {
    font-size: 0.8rem;
}

/* center class for h1 and h2 headings */
.center h1,
.center h2 {
    text-align: center;
}


/* Misc. workarounds for browser compatibility. */

/* remove skip to main content link */
.skip-link {
    display: none;
}

/* turn off header and sidebar link underlines */
.navbar-nav li a.nav-link:hover {
    text-decoration: none
}

/* Workarounds for browsers without custom variable support. */

/* system font stack - adapted from https://systemfontstack.com/*/
body {
    font-family: "Segoe UI", arial, sans-serif, -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, Cantarell, Ubuntu, roboto, noto;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

/* breadcrumb divider */
ul.bd-breadcrumbs li.breadcrumb-item:not(.breadcrumb-home):before {
    content: ">";
}

/* Colours for browsers without alpha and or custom variable support. */

/* inactive links in header and sidebar (must come before more specific hover/focus/active settings below) */
/* header */
html[data-theme="light"] .bd-header .navbar-nav li a.nav-link,
/* breadcrumbs */
html[data-theme="light"] ul.bd-breadcrumbs li.breadcrumb-item:not(.breadcrumb-home):before,
/* sidebar */
html[data-theme="light"] .navbar-nav li a.nav-link {
    color: #646464
}

/* header */
html[data-theme="dark"] .bd-header .navbar-nav li a.nav-link,
/* breadcrumbs */
html[data-theme="dark"] ul.bd-breadcrumbs li.breadcrumb-item:not(.breadcrumb-home):before,
/* sidebar */
html[data-theme="dark"] .navbar-nav li a.nav-link {
    color: #a6a6a6
}

/* link hover colours (must come before more specific hover settings below) */
html[data-theme="light"] a:hover {
    color: #f08080;
}

html[data-theme="dark"] a:hover {
    color: #f09090;
}

/* all primary colour items incl hover/focus/active links in header and sidebar */
/* headings and links */
html[data-theme="light"] h1,
html[data-theme="light"] h2,
html[data-theme="light"] a,
/* header */
html[data-theme="light"] .bd-header .navbar-nav li a.nav-link:focus,
html[data-theme="light"] .bd-header .navbar-nav li a.nav-link:hover,
html[data-theme="light"] .bd-header .navbar-nav>.active>.nav-link,
/* sidebar */
html[data-theme="light"] .navbar-nav li a:focus,
html[data-theme="light"] .navbar-nav li a:hover,
html[data-theme="light"] .navbar-nav li.current>a,
/* breadcrumbs */
html[data-theme="light"] ul.bd-breadcrumbs li.breadcrumb-item a {
    color: #106ed1;
}

/* headings and links */
html[data-theme="dark"] h1,
html[data-theme="dark"] h2,
html[data-theme="dark"] a,
/* header */
html[data-theme="dark"] .bd-header .navbar-nav li a.nav-link:focus,
html[data-theme="dark"] .bd-header .navbar-nav li a.nav-link:hover,
html[data-theme="dark"] .bd-header .navbar-nav>.active>.nav-link,
/* sidebar */
html[data-theme="dark"] .navbar-nav li a:focus,
html[data-theme="dark"] .navbar-nav li a:hover,
html[data-theme="dark"] .navbar-nav li.current>a,
/* breadcrumbs */
html[data-theme="dark"] ul.bd-breadcrumbs li.breadcrumb-item a {
    color: #2f8cef;
}

/* sd-card border colour */
html[data-theme="light"] .sd-card {
    border: 1px solid #c9c9c9;
}

html[data-theme="dark"] .sd-card {
    border: 1px solid silver;
}

html[data-theme="light"] .sd-card-header {
    border-bottom: 1px solid #c9c9c9;
}

html[data-theme="dark"] .sd-card-header {
    border-bottom: 1px solid silver;
}


/* force opaque sidebar for old browsers */
.bd-sidebar, html[data-theme="light"] .bd-sidebar {
    background: white;
}

html[data-theme="dark"] .bd-sidebar {
    background: black;
}

/* light and dark theme announcement background (i.e. the note about webp support) */
.bd-header-announcement:after {
    background-color: #459db9;
}

/* Workarounds for browsers without @media support. */
.bd-header-announcement {
    padding: .5rem 2%;
}

/* Workarounds for browsers without `display: flex` support */
/* stack breadcrumbs horizontally */
ul.bd-breadcrumbs li.breadcrumb-item,
ul.bd-breadcrumbs li.breadcrumb-item a {
    display: inline-block;
    /* display: -webkit-flex; */
    display: flex;
}


/* footer layout */






/* Define custom variables. */
/* NB note that some of these variables are duplicated by configurations above. */
html {
    /* header height will impact the top offset for many sections
    article header is 66% of Header by default,
    note 1rem = 16px by default */

    /* height of navigation bar */
    --pst-header-height: 5.6rem;
    /* space between nav bar and start of article */
    --pst-header-article-height: 3rem;

    /* prefer Segoe UI which is a windows system font and used for Leftfield logo */
    --pst-font-family-base: "Segoe UI", var(--pst-font-family-base-system);
    --pst-font-size-base: 0.9rem;
}

html[data-theme="light"] {
    --pst-color-primary: #106ed1;
    --pst-color-link-hover: #f08080;
}

html[data-theme="dark"] {
    --pst-color-primary: #2f8cef;
    --pst-color-link-hover: #f09090;
}

:root[data-theme="light"] {
    --sd-color-card-border-hover: #106ed1ff;
}

:root[data-theme="dark"] {
    --sd-color-card-border-hover: #2f8cefff;
}






/*.bd-footer .footer-items__end,
.bd-footer .footer-items__start {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center
}

.bd-footer .footer-items__end {
    margin-left: auto;
    text-align: end
}
*/

