.navbar-nav {
    font-size: 1.5rem;    /* section link font size */
    margin-right: 1rem;   /* space between right-aligned section links and icon links / components */
    margin-left: 0rem;    /* space between logo and left-aligned section links, also between light/dark button & icon links  */
    padding: 0rem;
    /*gap: 0.5rem;*/        /* spacing between section titles */
}

.navbar-brand img {
    height: 4.6rem;  /* adapted from numpy docs - limits logo height for older safari and ie browsers */
}

/*.bd-header__inner,
.bd-navbar-elements,
.navbar-header-items,
.navbar-nav,
.navbar-item
.navbar-header-items__start,
.nav-item {
    display: flex;
    display: ms-flex;
    display: -webkit-inline-box;
    padding: 0.25rem 0.25rem;
}*/

/*.navbar-brand {
    display: -webkit-flex;
    -webkit-flex-direction: row;
}*/
/* for ie which ignores the flex gap */
/* TODO: make this specific to nav bar */
.nav-link {
    margin-left: 0.3rem;    
}

.skip-link {
    display: none;      /* remove skip to main content link */
}

.bd-footer {
    font-size: 0.8rem;    /* footer font size */
}

body {
    font-family: "Segoe UI", arial, sans-serif;   /* adapted from numpy docs for older safari and ie browsers */
}

/* center h1 and h2 headings */
.center h1,
.center h2 {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}



/* workaround for older safari browsers where flex stacks items vertically */
ul.bd-breadcrumbs li.breadcrumb-item,
ul.bd-breadcrumbs li.breadcrumb-item a {
    display: inline-block;
    display: flex;
}

ul.bd-breadcrumbs li.breadcrumb-item:not(.breadcrumb-home):before {
    content: "âµ";       /* workaround for older ie and safari browsers which don't read --pst-breadcrumb-divider */
}


html {
    /* Header height will impact the top offset for many sections
    Article header is 66% of Header by default
    Note 1rem = 16px by default */
    --pst-header-height: 5.6rem;    /* height of navigation bar */
    --pst-header-article-height: 3rem;  /* space between nav bar and start of article */

    /* prefer Segoe UI which is a windows system font and used for Leftfield logo */
    --pst-font-family-base: "Segoe UI", var(--pst-font-family-base-system);
    --pst-font-size-base: 0.9rem;
}

html[data-theme="light"] {
    --pst-color-primary: #106ed1;
    --pst-color-link-hover: #f08080;
}

html[data-theme="dark"] {
    --pst-color-primary: #2f8cef;
    --pst-color-link-hover: #f09090;
}

:root[data-theme="light"] {
    --sd-color-card-border-hover: #106ed1ff;
}

:root[data-theme="dark"] {
    --sd-color-card-border-hover: #2f8cefff;
}

html[data-theme="light"] .bd-sidebar {
    background: white;    /* workaround for old browsers which make sidebar transparent */
}

html[data-theme="dark"] .bd-sidebar {
    background: black;   /* workaround for old browsers which make sidebar transparent */
}

/* Configure colors for browsers without var and or alpha support */

/* inactive links in header and sidebar (must come before more specific hover/focus/active settings below) */
html[data-theme="light"] .bd-header .navbar-nav li a.nav-link,  /* header */
html[data-theme="light"] ul.bd-breadcrumbs li.breadcrumb-item:not(.breadcrumb-home):before,
html[data-theme="light"] .navbar-nav li a.nav-link {            /* sidebar */
    color: #646464
}
html[data-theme="dark"] .bd-header .navbar-nav li a.nav-link,  
html[data-theme="dark"] ul.bd-breadcrumbs li.breadcrumb-item:not(.breadcrumb-home):before,
html[data-theme="dark"] .navbar-nav li a.nav-link {
    color: #a6a6a6
}

/* link hover colors (must come before more specific hover settings below) */
html[data-theme="light"] a:hover {
    color: #f08080;
}

html[data-theme="dark"] a:hover {
    color: #f09090;
}


/* all primary color items incl hover/focus/active links in header and sidebar */
html[data-theme="light"] h1,
html[data-theme="light"] h2, 
html[data-theme="light"] a, 
html[data-theme="light"] .bd-header .navbar-nav li a.nav-link:focus,    /* header */
html[data-theme="light"] .bd-header .navbar-nav li a.nav-link:hover, 
html[data-theme="light"] .bd-header .navbar-nav>.active>.nav-link, 
html[data-theme="light"] .navbar-nav li a:focus,    /* sidebar */
html[data-theme="light"] .navbar-nav li a:hover,
html[data-theme="light"] .navbar-nav li.current>a,
html[data-theme="light"] ul.bd-breadcrumbs li.breadcrumb-item a { /*breadcrumbs*/
    color: #106ed1;
}

html[data-theme="dark"] h1,
html[data-theme="dark"] h2,
html[data-theme="dark"] a,
html[data-theme="dark"] .bd-header .navbar-nav li a.nav-link:focus,
html[data-theme="dark"] .bd-header .navbar-nav li a.nav-link:hover, 
html[data-theme="dark"] .bd-header .navbar-nav>.active>.nav-link,
html[data-theme="dark"] .navbar-nav li a:focus,
html[data-theme="dark"] .navbar-nav li a:hover,
html[data-theme="dark"] .navbar-nav li.current>a,
html[data-theme="dark"] ul.bd-breadcrumbs li.breadcrumb-item a {  /*breadcrumbs*/
    color: #2f8cef
}


/* both light and dark themes */
.bd-header-announcement:after {
    background-color: #459db9;
}
