.navbar-nav {
    /* section link font size */
    font-size: 1.5rem;
    /* space between right-aligned section links and icon links / components */
    margin-right: 1rem;
    /* space between logo and left-aligned section links, also between light/dark button & icon links  */
    margin-left: 0rem;
    /*gap: 0.5rem;*/
    /* spacing between section titles */
    padding: 0rem;
}

/* limit logo height for older safari and ie browsers - adapted from numpy docs  */
.navbar-brand img {
    height: 4.6rem;
}

/* remove skip to main content link */
.skip-link {
    display: none;
}

/* footer font size */
.bd-footer {
    font-size: 0.8rem;
}

/* adapted from numpy docs for older safari and ie browsers */
body {
    font-family: "Segoe UI", arial, sans-serif;
}

/* wrap main content on window resize in IE -  
see https://stackoverflow.com/questions/20149715/internet-explorer-11-word-wrap-is-not-working */
.bd-main {
    width: 100%;
}

/* center h1 and h2 headings */
.center h1,
.center h2 {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}



/* workaround for older safari browsers where flex stacks items vertically */
ul.bd-breadcrumbs li.breadcrumb-item,
ul.bd-breadcrumbs li.breadcrumb-item a {
    display: inline-block;
    display: flex;
}

/* workaround for browsers which support var or the --pst-breadcrumb-divider unicode character */
ul.bd-breadcrumbs li.breadcrumb-item:not(.breadcrumb-home):before {
    content: ">";
    /*content: "âµ";*/
}

/*.sd-card {
    vertical-align: top;
}*/
/*.sd-card-header,
.sd-card-body,
.sd-card-text,
.sd-stretched-link {
    display: inline-block;
    display: flex;
}*/
.sd-col {
    display: inline-block;
    display: flex;
    vertical-align: top;
}

html {
    /* Header height will impact the top offset for many sections
    Article header is 66% of Header by default
    Note 1rem = 16px by default */
    /* height of navigation bar */
    --pst-header-height: 5.6rem;
    /* space between nav bar and start of article */
    --pst-header-article-height: 3rem;

    /* prefer Segoe UI which is a windows system font and used for Leftfield logo */
    --pst-font-family-base: "Segoe UI", var(--pst-font-family-base-system);
    --pst-font-size-base: 0.9rem;
}

html[data-theme="light"] {
    --pst-color-primary: #106ed1;
    --pst-color-link-hover: #f08080;
}
html[data-theme="dark"] {
    --pst-color-primary: #2f8cef;
    --pst-color-link-hover: #f09090;
}

:root[data-theme="light"] {
    --sd-color-card-border-hover: #106ed1ff;
}
:root[data-theme="dark"] {
    --sd-color-card-border-hover: #2f8cefff;
}

/* workaround for old browsers which make sidebar transparent */
html[data-theme="light"] .bd-sidebar {
    background: white;
}
html[data-theme="dark"] .bd-sidebar {
    background: black;
}

/* Configure colors for browsers without var and or alpha support */

/* inactive links in header and sidebar (must come before more specific hover/focus/active settings below) */
/* header */
html[data-theme="light"] .bd-header .navbar-nav li a.nav-link,
/* breadcrumbs */
html[data-theme="light"] ul.bd-breadcrumbs li.breadcrumb-item:not(.breadcrumb-home):before,
/* sidebar */
html[data-theme="light"] .navbar-nav li a.nav-link {
    color: #646464
}

/* header */
html[data-theme="dark"] .bd-header .navbar-nav li a.nav-link,
/* breadcrumbs */
html[data-theme="dark"] ul.bd-breadcrumbs li.breadcrumb-item:not(.breadcrumb-home):before,
/* sidebar */
html[data-theme="dark"] .navbar-nav li a.nav-link {
    color: #a6a6a6
}

/* link hover colors (must come before more specific hover settings below) */
html[data-theme="light"] a:hover {
    color: #f08080;
}

html[data-theme="dark"] a:hover {
    color: #f09090;
}

/* all primary color items incl hover/focus/active links in header and sidebar */
/* headings and links */
html[data-theme="light"] h1,
html[data-theme="light"] h2,
html[data-theme="light"] a,
/* header */
html[data-theme="light"] .bd-header .navbar-nav li a.nav-link:focus,
html[data-theme="light"] .bd-header .navbar-nav li a.nav-link:hover,
html[data-theme="light"] .bd-header .navbar-nav>.active>.nav-link,
/* sidebar */
html[data-theme="light"] .navbar-nav li a:focus,
html[data-theme="light"] .navbar-nav li a:hover,
html[data-theme="light"] .navbar-nav li.current>a,
/*breadcrumbs*/
html[data-theme="light"] ul.bd-breadcrumbs li.breadcrumb-item a {
    color: #106ed1;
}

/* headings and links */
html[data-theme="dark"] h1,
html[data-theme="dark"] h2,
html[data-theme="dark"] a,
/* header */
html[data-theme="dark"] .bd-header .navbar-nav li a.nav-link:focus,
html[data-theme="dark"] .bd-header .navbar-nav li a.nav-link:hover,
html[data-theme="dark"] .bd-header .navbar-nav>.active>.nav-link,
/* sidebar */
html[data-theme="dark"] .navbar-nav li a:focus,
html[data-theme="dark"] .navbar-nav li a:hover,
html[data-theme="dark"] .navbar-nav li.current>a,
/*breadcrumbs*/
html[data-theme="dark"] ul.bd-breadcrumbs li.breadcrumb-item a {
    color: #2f8cef;
}

/* turn off header and sidebar link underlines (for ie and safari)  */
.navbar-nav li a.nav-link:hover {
    text-decoration: none
}

/* light and dark theme announcement background */
.bd-header-announcement:after {
    background-color: #459db9;
}

/* Workaround(s) for older safari browsers where flex stacks header items vertically. */
/* Adapted from _build/html/_static/styles/pydata-sphinx-theme.css */

/* When screen >= 960px, display header items using flex or inline-block */
@media(min-width:960px) {
    .bd-header .navbar-header-items {
        display: inline-block;
        display: flex;
    }
}

/* Display header items with inline-block if flex not supported. */
.bd-header .navbar-header-items__start,
.bd-header .navbar-header-items__center,
.bd-header .navbar-header-items__end,
.bd-header .sidebar-toggle
.bd-header .navbar-brand,
.bd-header .navbar-brand img,
.bd-header .navbar-icon-links,
.bd-header .navbar-item,
.bd-header .navbar-nav,
.bd-header .nav-item,
.bd-header .nav-link {
    display: inline-block;
    display: flex
}

/* Adjust header item spacing for IE which does flex with no spacing. */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .bd-header .nav-link {
        margin-right: 1rem;
    }
}


/* turn off header section and icon links if flex is not supported */
/*.bd-header .navbar-header-items__center,
.bd-header .navbar-header-items__end {
    display: none;
    display: flex;
}*/