/* Sidebar
-------------------------------------------------------------------------------------------------*/

/* .bd-sidebar-primary {
    top: 5.6rem;
    top: var(--pst-header-height);
} */

/* configre theme `display: flex; flex-direction: column` (i.e. vertically stacked) elements as 
`display: block` */
.bd-sidebar-primary,
.bd-sidebar-primary .sidebar-header-items,
.bd-sidebar-primary .sidebar-header-items .sidebar-header-items__center,
/* more specific selector for section links than is used in header.css */
.bd-sidebar-primary .sidebar-header-items .sidebar-header-items__center .navbar-nav li,
.bd-sidebar-primary .sidebar-header-items .sidebar-header-items__end {
    display: block;
    border: 1px solid red;
}

/* stack end theme button & icon link elements horizontally */
.bd-sidebar-primary .sidebar-header-items .sidebar-header-items__end .navbar-item,
.bd-sidebar-primary .sidebar-header-items .sidebar-header-items__end .navbar-icon-links {
    display: inline-block;
    /* border: 1px solid green; */
}    

/* styles for icon link elements are set in header.css */

/* re-set sidebar elements to their default theme settings if flex is adequately supported. 
`flex-basis: min-content` is not required, but a work around test for `gap: 0.5rem`, which is
not possible to test for in it's flex mode directly - see https://ishadeed.com/article/flexbox-gap/
*/
@supports(display: flex) and (flex-direction: column) and (align-items: center) and (flex-basis: min-content) {
    .bd-sidebar-primary,
    .bd-sidebar-primary .sidebar-header-items,
    .bd-sidebar-primary .sidebar-header-items .sidebar-header-items__center,
    /* more specific selector for section links than is used in header.css */
    .bd-sidebar-primary .sidebar-header-items .sidebar-header-items__center .navbar-nav li,
    .bd-sidebar-primary .sidebar-header-items .sidebar-header-items__end {
        display: flex;
        border: 1px dashed red;
    }
    
    /* stack horizontally */
    .bd-sidebar-primary .sidebar-header-items .sidebar-header-items__end .navbar-item,
    .bd-sidebar-primary .sidebar-header-items .sidebar-header-items__end .navbar-icon-links {
        display: flex;
        vertical-align: unset;
        border: 1px dashed green;
    }
}

